*
**
# allow
!.gitignore
!Dockerfile
!.prettierignore
!readme.md
!format.sh
!vendor.sh
!go.mod
!createtotp.go
!addauthenapptotp.go
!totpgenqrcode.go
!totpremoveaccount.go
!totpshowcode.go
!totpupdateaccount.go
!build-docker.sh
!restart.sh

!lib
!env